<!DOCTYPE html>
<html lang="en">
  <body>
    <table align="center" style="background-color: #f7f7f7; width: 50%">
      <tr>
        <td style="background-color: #ffffff; border: 1px solid #ccc">
          <table width="100%">
            <tr>
              <td style="font-size: 0px; word-break: break-word">
                <div
                  style="
                    color: #777777;
                    font-size: 14px;
                    line-height: 21px;
                    text-align: center;
                  "
                >
                  <p
                    style="
                      color: #4d4d4d;
                      font-weight: bold;
                      font-size: 18px;
                      text-align: center;
                      font-family: Oxygen, Helvetica neue, sans-serif;
                    "
                  >
                    Password Reset
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td style="font-size: 0px; word-break: break-word">
                <div
                  style="
                    color: #777777;
                    font-size: 14px;
                    line-height: 21px;
                    text-align: center;
                    font-family: Oxygen, Helvetica neue, sans-serif;
                  "
                >
                  <span>
                    If you've lost your password or want to reset it, use the
                    link below to get started.
                  </span>
                </div>
              </td>
            </tr>

            <tr>
              <td
                align="center"
                style="
                  font-size: 0px;
                  padding: 10px 25px;
                  word-break: break-word;
                "
                vertical-align="middle"
              >
                <table style="border-collapse: separate; line-height: 100%">
                  <tr>
                    <td
                      style="
                        background-color: #03a9f4;
                        border: none;
                        border-radius: 5px;
                        cursor: auto;
                        padding: 10px 25px;
                      "
                    >
                      <a
                        href="{{token_mail}}"
                        style="
                          background: #03a9f4;
                          color: #ffffff;
                          font-family: Oxygen, Helvetica neue, sans-serif;
                          font-size: 14px;
                          font-weight: 400;
                          line-height: 21px;
                          margin: 0;
                          text-decoration: none;
                          text-transform: none;
                        "
                        target="_blank"
                      >
                        Reset Your Password
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <td style="font-size: 0px; word-break: break-word">
              <div
                style="
                  color: #777777;
                  font-family: Oxygen, Helvetica neue, sans-serif;
                  font-size: 11px;
                  line-height: 27px;
                  text-align: center;
                "
              >
                <span>
                  if you did not request a password reset, you can safely ignore
                  this email.
                  <br />
                  Only a person with access to your email can reset your account
                  password,
                  <br />
                  Link will be active for next 15 minutes.
                </span>
              </div>
            </td>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
